body{

}

h2{
	font-size: 42px;
	margin: 0;
	padding: 0;
	margin-left: 116px;
}

.contacts_offer{
	float: left;
	margin-top: 210px;
}

.contacts_bg{
	margin-top: 15px;
	display: inline-block;
	float: right;
	width: 760px;
	height: 534px;
	background-image: url(5.jpg);
	background-size: 100%;
	margin-right: 0; 
}

.form_list{
	display: inline;
}

.message input {
	width: 476px;
	float: left;
}

.form{
	width: 476px;
	color: #fff;
	margin: 0 auto;
	margin-top: 70px;
}

.mb input{
margin-bottom: 20px;
}


.form textarea{
	color: #fff;
}

.name li:first-child{
	margin-right: 30px;
}

.name input{
	width: 220px;
}

input{
	color: #fff;
	margin-top: 7px;
	background-color: transparent;
	padding: 2px 0;
	border: 1.5px solid #fff;
}

textarea{
	width: 476px;
	margin-top: 7px;
	background-color: transparent;
	padding: 2px 0;
	border: 1.5px solid #fff;
	resize: none;
}

.submit{
	margin: 20px 0 0 0;
	padding: 0;
}

.section{
	height: 549px;
}

footer{
	margin-top: 20px;
}

footer div{
	width: 1304px;
	margin: 0 auto;
}

footer ul{
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

footer li{
	text-align: center;
}

img{
	margin-bottom: 5px;
}