body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

a{
	text-decoration: none;
	color: #000;
	transition: all .3s ease;
}

ul{
	list-style: none;
	padding-top: 5px;
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0;
	font-size: 15px;
}
.main{
	width: 1304px;
	margin: 0 auto;
}
.menu li{
	display: inline;
	text-transform: uppercase;
	margin-right: 20px;
}

nav{
	padding: 15px 0px;
	display: block;
	background-color: rgba(255, 255, 255, 0%);
}
h1{
	float:left;
	padding: 0;
	margin: 0;
	border-bottom: 1.5px solid #C8824A; 
	letter-spacing: 2px;
	font-weight: 500;
}
h2{
	
	float: left;
	padding: 0;
	margin: 0;
	margin-left: 116px;
	margin-top: 120px;
	letter-spacing: 4.5px;
	font-size: 30px;
	font-weight: 700;
}
.text{
	float: left;
	padding: 0;
	margin: 0;
	margin-left: -462px;
	margin-top: 200px;           
	letter-spacing: 1px;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.15;
}
button{
	width: 200px;
	height: 40px;
	color: #fff;
	background-color: #C8824A;
	border: none; 
	margin-left: -473px;
	margin-top: 320px;
	cursor: pointer;
}
h3{
	float:left;
	padding: 0;
	margin: 0;
	margin-left: 116px;
	margin-top: 230px;
	letter-spacing: 4.5px;
	font-weight:400;
}
.menu a:hover{
	color: #d18719;
	transition: all .3s ease;
}
.offer {
	display: inline;
	
}

.bg {
	margin-top: 15px;
	display: inline-block;
	float: right;
	width: 680px;
	height: 525px;
	background-image: url(bg.jpg);
	background-size: 100%;
	margin-right: 0;
}